{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
  {{ fit_classdetail.name }} Class
{% endblock %}

{% block content %}
  <a class="back font3" href="{% url 'class' %}">Back</a>
  <div class="class-detail">
    {% if is_trainer and request.user.id == fit_classdetail.trainer.id %}
    <a class="delete-class btn-danger font3" href="{% url 'delete-class' fit_classdetail.pk %}">Delete</a>
    <a class="edit-class btn-warning font3" href="{% url 'edit-class' fit_classdetail.pk %}">Edit</a>
    {% endif %}

    {% if messages %}
      <div>
          {% for message in messages %}
              {% if 'class_registration' in message.tags %}

              <div class="alert alert-danger font3">
                <label style="font-size: 1.2rem;">{{ message }}</label>
              </div>
                  
              {% endif %}
          {% endfor %}
      </div>
    {% endif %}


    <form method="post" action="{% url 'class-detail' fit_classdetail.pk %}">
      {% csrf_token %}
      <h1 style="margin-bottom: 30px;"><b>Class Name:</b> {{ fit_classdetail.name }}</h1>
      <p><b>Category:</b> {{ fit_classdetail.categories.name }}</p>
      <p><b>Trainer:</b> {{ fit_classdetail.trainer.first_name }} {{ fit_classdetail.trainer.last_name }}</p>
      <p><b>Description:</b> {{ fit_classdetail.description }}</p>
      <p><b>Start time:</b> {{fit_classdetail.start_time}}</p>
      <p><b>End time:</b> {{fit_classdetail.end_time}}</p>
      <p><b>Remaining capacity:</b> {{ remaining }}</p>

      {% if not is_trainer and not request.user.is_staff %}
        <input type="submit" value="Sign Up for Class" class="signup-btn font3">
      {% endif %}
    </form>

  </div>

  <!-- แสดงคนที่ลงเรียน fitnessclass สำหรับ trainer -->
    {% if is_trainer and request.user.id == fit_classdetail.trainer.id %}
      <div class="class-detail">
        <p><b>FitnessClass Participants</b></p>
        {% for customer in class_participants %}
          <p>
            <b> {{ forloop.counter }}. </b> {{ customer.first_name }} {{ customer.last_name }}
          </p>
        {% endfor %}
      </div>
    {% endif %}
{% endblock %}