{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
  {{ class.name }} - Fitness Class Detail
{% endblock %}

{% block content %}
  <a class="back font3" href="{% url 'class' %}">Back</a>
  <form method="" action="">
    <div class="class-detail">
      <a class="edit-class font3" href="{% url 'edit-class' %}">Edit</a>
      <a class="delete-class font3" href="">Delete</a>
      <h1 style="margin-bottom: 30px;">Class Name: {{ fit_classdetail.name }}</h1>
      {% for cat in fit_classdetail.categories %}
        <p>Category: {{ cat.name }}</p>
      {% endfor %}
      <p>Trainer:</p>
      <p>Description: {{ fit_classdetail.description }}</p>
      <p>Start time:</p>
      <p>End time:</p>
      <p>Remaining capacity:</p>
      <button class="signup-btn font3">Sign Up for Class</button>
    </div>
  </form>
{% endblock %}