{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
Create Class
{% endblock %}

{% block content %}
  <a class="back font3" href="{% url 'class' %}">Back</a>
  <form method="post" action="{% url 'create-class' %}">
    {% csrf_token %}
    <div class="class-detail">
      <h1 class="font1" style="text-align: center; margin-bottom: 30px;">Create Class</h1>
      {% for field in form %}
        {% if field.name == 'category' %}
          <p>Category:
            {{ field }}
          </p>
        {% elif field.name == 'description' %}
          <p>Description:</p>
          {{ field }}
        {% else %}
          <p>{{ field.label }}: {{ field }}</p>
        {% endif %}
        {% if field.errors %}
          <label> {{field.errors}} </label><br>
        {% endif %}
      {% endfor %}
      <button class="signup-btn font3">Save</button>
    </div>
  </form>
{% endblock %}