{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
Fitness Class
{% endblock %}

{% block content %}
<div class="class-box">
    <div class="search font3">
        <a href="{% url 'create-class' %}" class="creat-class">{{fitnessclass.name}}</a>
        <form method="get" action="{% url 'class' %}">
            <input class="input-class" type="text" name="q" placeholder="Search for a class">
            <input class="input-class hover-butt" type="submit" value="Search">
        </form>
        <form id="categoryform" method="get"  action="{% url 'class' %}">
            <select class="select-cat" name="category" id="category" required>
                <option value="">Select Class Category </option>
            </select>
        </form>
        <form method="get"  action="{% url 'class' %}">
            <input class="input-bmi-class" type="number" name="height" id="height" placeholder="Enter your height.">
            <input class="input-bmi-class" type="number" name="weight" id="weight" placeholder="Enter your weight.">
            <input class="input-class hover-butt" type="submit" value="Calcute BMI">
        </form>
    </div>
    <div>
        <div class="card-row2">
            {% for class in fit_class %}
                <div class="card-class font3">
                    <h1 class="font1">{{ class.name }}</h1>
                    <h2>Max capacity: {{ class.max_capacity }}</h2>
                    <a href="{% url 'class-detail' class.pk %}">View Class</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('category').addEventListener('change', function() {
        document.getElementById('categoryform').submit();
    });
</script>
{% endblock %}
