{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
Fitness Class
{% endblock %}

{% block content %}
<div class="class-box">
    {% if messages %}
        <div>
            {% for message in messages %}
                {% if 'class_registration_success' in message.tags %}

                <div class="alert alert-success font3">
                    <label style="font-size: 1.2rem;">{{ message }}</label>
                </div>
        
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="search font3">
        {% if is_trainer %}
            <a href="{% url 'create-class' %}" class="creat-class btn btn-success ms-5 ps-4 pe-4 p-3 font3" style="font-size: 1.5rem;">Create</a>
        {% endif %}
        <form method="post" action="{% url 'class' %}">
            {% csrf_token %}
            <input class="input-class" type="text" name="q" placeholder="Search for a class" list="class-suggestions" id="search-input">
            <datalist id="class-suggestions">
                {% for class in fit_class %}
                    <option value="{{ class.name }}">{{ class.name }}</option>
                {% endfor %}
            </datalist>
            <input class="input-class hover-butt" type="submit" value="Search">
        </form>
        <form id="categoryform" method="post"  action="{% url 'class' %}">
            {% csrf_token %}
            <select class="select-cat" name="category" id="category" required>
                <option value="">-- Select Categoy --</option>
                {% for category in category_list %}
                    <option value="{{ category.name }}" {% if category.name == select_category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </form>
        <form method="post" action="{% url 'class' %}" id="bmi-form">
            {% csrf_token %}
            <input class="input-bmi-class" type="number" name="height" id="height" placeholder="Enter your height." required>
            <input class="input-bmi-class" type="number" name="weight" id="weight" placeholder="Enter your weight." required>
            <input class="input-class hover-butt" type="submit" value="Calculate BMI">
        </form>
    </div>
    <div>
        <div class="card-row2">
            {% if fit_class %}
                {% for class in fit_class %}
                    <div class="card-class font3">
                        <h1 class="font1">{{ class.name }}</h1>
                        <h2>Category: {{ class.categories.name}}</h2>
                        <h2>Max capacity: {{ class.max_capacity }}</h2>
                        {% if class.end_time < current_datetime %}
                            <a class="view-btn">Ended</a>
                        {% else %}
                            <a class="view-btn" href="{% url 'class-detail' class.pk %}">View Class</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="font1" style="padding: 390px; margin: auto; color: white; font-size: 5rem;">No classes provided.</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('category').addEventListener('change', function() {
        document.getElementById('categoryform').submit();
    });

    document.getElementById('bmi-form').addEventListener('submit', function(event) {
        const height = parseFloat(document.getElementById('height').value);
        const weight = parseFloat(document.getElementById('weight').value);
        
        if (height < 0 || weight < 0) {
            alert("Height and weight must be positive numbers.");
            event.preventDefault(); // Prevent form submission
        }
    });
</script>
{% endblock %}
