{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
Membership
{% endblock %}

{% block content %}
    <div class="card-row1 justify-content-start">

        {% if messages %}
            <div class="col-12">
                {% for message in messages %}
                    {% if 'membership_registration' in message.tags %}
                        <div class="alert alert-success">
                            <label style="font-size: 1.2rem;">{{ message }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% for i in member %}
        <div class="col-md-4">
            <div class="card m-5">
                <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h1 class="font1">{{ i.name }}</h1>
                    <p>{{ i.description }}</p>
                    <p class="font3" style="float: right">Membership price: <b class="font2">{{ i.price }}</b></p>
                </div>
                    {% if not request.user.is_staff %}
                        <a href="{% url 'membership_form' i.pk %}" class="btn-mem">Subscribed</a>
                    {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
