{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
Membership Form
{% endblock %}

{% block content %}
<div class="mem">
    <div class="left-form img-form font1">
        <h1>Active<span>Vibe®</span></h1>
        <img src="{%static 'img/badge.png'%}" alt="">
    </div>
    <div class="right-form form-mem">
        <h1 class="font1">Register Membership</h1>
        <form method="post" action="{% url 'membership_form' %}">
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label }}:</label><br>                
                {{ field }}<br>
            {% endfor %}
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}