{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
Membership Form
{% endblock %}

{% block content %}
<div class="mem">
    <a class="back font3" href="{% url 'membership'%}">Back</a>
    <div class="left-form img-form font1">
        <h1>Active<span>Vibe®</span></h1>
        <img src="{%static 'img/badge.png'%}" alt="">
    </div>
    <div class="right-form form-mem">
        <h1 class="font1">Register Membership</h1>

        {% if messages %}
            <div>
                {% for message in messages %}
                    {% if 'membership_registration' in message.tags %}

                    <div class="alert alert-danger font3">
                        <label style="font-size: 1.2rem;">{{ message }}</label>
                    </div>
                        
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'membership_form' pk %}">
            {% csrf_token %}
            
            <label>
                <span style="font-weight: bold;">
                    Membership: 
                </span>
                    {{membership.name}}
                &nbsp;&nbsp;
            </label>
            <label>
                <span style="font-weight: bold;">
                    Duration: 
                </span>
                {{membership.duration_display}}
            </label><br><br>
            
            {% for field in form %}
                <label style="font-weight: bold;">{{ field.label }}:</label><br>                
                {{ field }}<br>

                {% if field.errors %}
                    <label> {{ field.errors }} </label><br>
                {% endif %}

                
            {% endfor %}
            
            
            
            {% for field in personal_form %}
                <label style="font-weight: bold;">{{ field.label }}:</label><br>                
                {{ field }}<br>
                {% if field.errors %}
                        {% for error in field.errors %}
                            <ul class="errorlist">
                                <li>{{ error }}</li>
                            </ul>
                        {% endfor %}
                {% endif %}
            {% endfor %}

            
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}