{% extends 'user_layout.html' %}

{% load static %}

{% block title %}
User Profile
{% endblock %}
<style>
    .custom-row {
        margin: auto; 
    }
</style>
{% block content %}
<div class="user-profile font3">

    {% if messages %}
        <div>
            {% for message in messages %}
                {% if 'changepassword' in message.tags %}
                <div class="alert alert-success font3">
                    <label style="font-size: 1.2rem;">{{ message }}</label>
                </div>
                {% elif 'updateprofile' in message.tags %}
                <div class="alert alert-success font3">
                    <label style="font-size: 1.2rem;">{{ message }}</label>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <!-- Left Profile Section -->
        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-body">
                    <h1 class="card-title font1">User Profile</h1>
                    <img style="border-radius: 50%; margin: 20px auto; width: 200px; height: 200px; object-fit: cover; border: 1px solid black;" src="{{ user.personalinfo.profile_image.url }}" alt="">
                    <h2 class="card-title"><b>User Name:</b> {{ user.username }}</h2>
                </div>
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item"><b>Full Name:</b> {{ user.first_name }} {{ user.last_name }}</li>
                    <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
                    <li class="list-group-item"><b>Phone:</b> {{ user.personalinfo.phone }}</li>
                    <li class="list-group-item"><b>Role:</b> 
                        {% for group in user.groups.all %}
                            <span class="font3">{{ group.name }}</span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item"><b>Password:</b> ********</li>
                </ul>
                <div class="div-edit-btn">
                    <a href="{% url 'edit_profile' user.pk %}" class="edit-btn" id="edit-btn">Edit</a>
                    <a href="{% url 'change_password' user.pk %}" class="edit-btn" id="change-password-btn">Change Password</a>
                </div>
            </div>
        </div>

        <!-- Right Profile Section -->
        <div class="col-md-7">
            <div class="card mybox">
                <h2 class="font1">My Membership</h2>
                {% if membership %}
                    <p>{{ membership.first.membership.name }} Membership.</p>
                {% else %}
                    <p>Haven't register membership.</p>
                {% endif %}
                <h2 class="font1">My Class</h2>
                <ul>
                    {% if request.user.groups.first.name == "Customer" %}
                        {% for class in customer_class %}
                            {% if class.end_time < current_datetime %}
                                <li class="list-group">{{ class.name }} ({{ class.start_time }} - {{ class.end_time }}) - ( Ended ) </li>
                            {% elif class.start_time > current_datetime and class.end_time > current_datetime %}
                                <li class="list-group">{{ class.name }} ({{ class.start_time }} - {{ class.end_time }}) - ( Not started )</li>
                            {% else %}
                                <li class="list-group">{{ class.name }} ({{ class.start_time }} - {{ class.end_time }}) - ( Ongoing )</li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group">You haven't registered for any classes yet.</li>
                        {% endfor %}

                    {% elif request.user.groups.first.name == "Trainer" %}
                        {% for class in trainer_class %}
                            {% if class.end_time < current_datetime %}
                                <li class="list-group">{{ class.name }} ({{ class.start_time }} - {{ class.end_time }}) - ( Ended ) </li>
                            {% elif class.start_time > current_datetime and class.end_time > current_datetime %}
                                <li class="list-group">{{ class.name }} ({{ class.start_time }} - {{ class.end_time }}) - ( Not started )</li>
                            {% else %}
                                <li class="list-group">{{ class.name }} ({{ class.start_time }} - {{ class.end_time }}) - ( Ongoing )</li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group">You haven't registered for any classes yet.</li>
                        {% endfor %}

                    {% endif %}


                </ul>
            </div>
        </div>

    </div>

</div>

{% endblock %}