{% extends 'layout.html' %}

{% load static %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<a style="margin: 50px; position: absolute; z-index: 1; padding: 15px 40px; background-color: orangered; text-decoration: none; color: white; font-size: 1.5rem; border-radius: 5px;" href="{% url 'userprofile' %}">Back</a>
<div class="div-change-password">
    <!-- error message -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h1>Change Your Password</h1>

    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Save Password Changes">
    </form>
</div>
{% endblock %}
