{% extends 'layout.html' %}

{% load static %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="div-change-password">
    <h1>Change Your Password</h1>

    <!-- success message -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- error message -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Save Password Changes">
    </form>
</div>
{% endblock %}
