{% extends 'layout.html' %}

{% load static %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="div-change-password">
        <h1>Change Your Password</h1>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br>
                {{ field }}
            {% endfor %}
            <input type="submit" value="Save Password Changes">
        </form>
</div>
{% endblock %}

