{% extends 'layout.html' %}

{% load static %}

{% block title %}
  {{ class.name }} - Fitness Class Detail
{% endblock %}

{% block content %}
<!-- test merge -->
  <a class="back font3" href="{% url 'class' %}">Back</a>
  <form method="" action="">
    <div class="class-detail">
      <a class="edit-class font3" href="{% url 'edit-class' %}">Edit</a>
      <h1 style="margin-bottom: 30px;">Class Name:</h1>
      <p>Category:</p>
      <p>Trainer:</p>
      <p>Description:</p>
      <p>Start time:</p>
      <p>End time:</p>
      <p>Remaining capacity:</p>
      <button class="signup-btn font3">Sign Up for Class</button>
    </div>
  </form>
{% endblock %}