{% extends 'layout.html' %}

{% load static %}

{% block title %}
  {{ class.name }} - Fitness Class Detail
{% endblock %}

{% block content %}
  <a class="back font3" href="{% url 'class' %}">Back</a>
  <form method="" action="">
    <div class="class-detail">
      <a class="edit-class font3" href="{% url 'edit-class' %}">Edit</a>
      <h1>Class Name:</h1>
      <p>Category:</p>
      <p>Trainer:
        <select class="select-cat font3" style="font-size: 1.5rem;">
          <option value="">--- Select Trainer ---</option>
          {% for trainer in trainers %}
            <option value="{{ trainer.id }}">{{ trainer.name }}</option>
          {% endfor %}
        </select>
      </p>
      <p>Description:</p>
      <p>Start time:</p>
      <p>Remaining capacity:</p>
      <button class="signup-btn font3">Sign Up for Class</button>
    </div>
  </form>
{% endblock %}