{% extends 'layout.html' %}

{% load static %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<a class="back font3" href="{% url 'userprofile' %}">Back</a>
<div class="div-change-password">
        <h1 class="font1">EDIT YOUR PROFILE</h1>
        <form method="post" action="{% url 'edit_profile' %}">
            {% csrf_token %}
            {{ form }}
            <!-- {% for field in form %} -->
                <!-- <div> -->
                    <!-- <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br> -->
                <!-- </div> -->
                <!-- {{ field }} -->
            <!-- {% endfor %} -->
            <input type="submit" value="Save">
        </form>
</div>
{% endblock %}

