{% extends 'layout.html' %}

{% load static %}

{% block title %}
Membership Form
{% endblock %}

{% block content %}
<div class="mem">
    <div class="left-form img-form">
        <h1>Active<span>Vibe®</span></h1>
        <img src="{%static 'badge.png'%}" alt="">
    </div>
    <div class="right-form form-mem">
        <h1>Register Membership</h1>
        <form>
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name"><br>

            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name"><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>

            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" name="phone"><br>

            <label for="membership-type">Membership Type:</label>
            <select id="membership-type" name="membership-type">
            <option value="">----------</option>
            </select><br>

            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date"><br>


            <label for="duration">Duration:</label>
            <select id="duration" name="duration">
                <option value="">----------</option>
                <option value="1_month">1 Month</option>
                <option value="3_months">3 Months</option>
                <option value="6_months">6 Months</option>
                <option value="1_year">1 Year</option>
            </select><br>

            <p for="terms"><input type="checkbox" id="terms" name="terms"> I have read and accepted the <a href="#">Membership Terms and Conditions</a>, <a href="#">Privacy Policy</a>, <a href="#">Club Usage Rules</a> and <a href="#">Terms of Service</a>.</p>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}