{% extends 'layout.html' %}

{% load static %}

{% block title %}
Membership
{% endblock %}
{% block content %}
<div class="mem-box">
    <div class="card-row"></div>
        <div class="card-mem">
            <img src="{% static 'logo.png' %}" alt="Card 1 Image">
            <h2>Membership 1</h2>
            <p>Membership description 1</p>
            <h3>Membership price</h3>
            <button class="card-button">Subscribed</button>
        </div>
        <div class="card-mem">
            <img src="{% static 'logo.png' %}" alt="Card 2 Image">
            <h2>Membership 2</h2>
            <p>Membership description 2</p>
            <h3>Membership price</h3>
            <button class="card-button">Subscribed</button>
        </div>
        <div class="card-mem">
            <img src="{% static 'logo.png' %}" alt="Card 3 Image">
            <h2>Membership 3</h2>
            <p>Membership description 3</p>
            <h3>Membership price</h3>
            <button class="card-button">Subscribed</button>
        </div>
    </div>
</div>
{% endblock %}