{% extends 'layout.html' %}

{% load static %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
    <div class="user-profile">
        <h1 style=" text-align: center;">User Profile</h1>
        <img style="border-radius: 50%; display: block; margin: 20px auto; width: 20%;" src="{% static 'icon-profile.jpg' %}" alt="">
        
        <div class="info">
            <h2>Username: {{ user.username }}</h2>
            <h2>Full Name: {{ user.first_name }} {{ user.last_name }}</h2>
            <h2>Email: {{ user.email }}</h2>
            <h2>Password: ******** </h2>
            <a href="{% url 'edit_profile' %}" class="edit-btn" id="edit-btn">Edit</a>
            <a href="{% url 'change_password' %}" class="edit-btn" id="change-password-btn">Change Password</a>
        </div>
        
        <!-- Edit form popup -->
        <div class="edit-form-popup" id="edit-form-popup">
            <form method="post" action="{% url 'edit_profile' %}">
                <h1 style="text-align: center;">Edit Profile</h1>
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="{{ user.username }}">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" placeholder="{{ user.first_name }}">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" placeholder="{{ user.last_name }}">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="{{ user.email }}">
                <input class="save" type="submit" value="Save Changes">
                <input class="close" type="submit" value="Close" id="close-edit-form-btn">
            </form>
        </div>
        

        
        
    </div>
{% endblock %}