{% extends 'layout.html' %}

{% load static %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
    <div class="user-profile">
        <h1 class="font1" style=" text-align: center;">USER PROFILE</h1>
        <img style="border-radius: 50%; display: block; margin: 20px auto; width: 20%;" src="{% static 'icon-profile.jpg' %}" alt="">
        <div class="info font1">
            <h2>Username: <span class="font3">{{ user.username }}</span></h2>
            <h2>Full Name: <span class="font3">{{ user.first_name }} {{ user.last_name }}</span></h2>
            <h2>Email: <span class="font3">{{ user.email }}</span></h2>
            <h2>Password: ******** </h2>
            <a href="{% url 'edit_profile' %}" class="edit-btn" id="edit-btn">Edit</a>
            <a href="{% url 'change_password' %}" class="edit-btn" id="change-password-btn">Change Password</a>
        </div>  
    </div>
{% endblock %}