{% extends 'admin_layout.html' %}

{% load static %}

{% block title %}
Admin Page
{% endblock %}

{% block content %}
    <h1 class="content-h1 font1">Dashboard</h1>
    <div class="row font3">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total Memberships</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total Categories</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total Classes</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
